{% load static %}
<table class="table table-striped">
    <thead class="b-none">
        <tr>
            <th>Company Name</th>
            <th>Status</th>
            <th class="text-right">Action</th>
        </tr>
    </thead>
    <tbody id="append-data-div">
        {% for i in data_search %}
        <tr class="trclass{{i.id}}">
            <td>
                <a href="dashboard?id={{i.id}}">
                    <div class="company-div d-flex align-items-center py-1"> 
                        {% if i.photo == '' or i.photo == None %}
                        <img src="{% static 'assets/images/imag233.jpg' %}" alt="" class="rounded-circle">
                        {% else %}
                        <img src="../media/{{i.photo}}" alt="" class="rounded-circle">
                        {% endif %}
                        <div class="ms-3">
                            <h3 id="company_name{{i.id}}">{{i.company_name|default:''}}</h3>
                            <h4 id="email{{i.id}}">{{i.email|default:''}}</h4>
                        </div>
                        
                    </div>
                </a>
            </td>
            <td><button type="button" onclick="inactive_modal({{i.id}})" class="btn btn-soft-warning waves-effect waves-light cmpny-sts-btn adm-active-btn">Active</button></td>
            <td class="text-right">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical font-size-18"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a href="#" class="dropdown-item d-flex align-items-center" id="company-edit-modal-btn" data-id="{{i.id}}"><i class="bx bx-edit font-size-16 me-1"></i>Edit</a>
                        </li>
                        <li><a href="#" class="dropdown-item d-flex align-items-center" onclick="delete_modal({{i.id}})"><i class="bx bx-trash font-size-16 me-1"></i>Delete</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if not subcompany_data %}
<div class="empty-bx" id="no_data_div" {% if not subcompany_data %}style="visibility:visible;"{% endif %} >
    <img src="{% static 'assets/images/empty-empty.gif' %}" alt="" style="width: 300px;">
    <h4>There is no data.</h4>
</div>
{% endif %}


{% if not data_search %}
<div class="empty-bx" id="no_data_div" {% if not data_search %}style="visibility:visible;"{% endif %} >
    {% comment %} <p>There is no data.</p> {% endcomment %}
    <img src="{% static 'assets/images/loading-files.gif' %}" alt="" style="width: 500px;">
    
</div>
{% endif %}