{% load static %}
<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>SHOPIFY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    <style>
        
        a {
            color: var(--bs-link-color);
            {% comment %} text-decoration: none; {% endcomment %}
        }
        .non-valid{
            padding-right: calc(1.5em + .94rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23f46a6a'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23f46a6a' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(.375em + .235rem) center;
            background-size: calc(.75em + .47rem) calc(.75em + .47rem);
            border-color: #f46a6a;
        }
        .valid{
            border-color: #34c38f;
            padding-right: calc(1.5em + .94rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2334c38f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(.375em + .235rem) center;
            background-size: calc(.75em + .47rem) calc(.75em + .47rem)
        }
        .nonvalid-alert{
            width: 100%;
            margin-top: .25rem;
            font-size: 80%;
            color: #f46a6a
        }
        .loader-mask {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ffffff23;
            z-index: 99999;
          }
          
    </style>

</head>

<body>

    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex align-items-center">
                    <div class="navbar-brand-box">
                        <a href="sub_company" class="logo">
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/images_back.png' %}" alt="" height="23" style="
                                width: 50px;
                                height: 50px;
                            ">
                            </span>
                        </a>
                    </div> 
                    <button type="button" class="btn btn-sm font-size-16 d-lg-none header-item waves-effect waves-light"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="fa fa-fw fa-bars"></i>
                    </button>

                    <div class="topnav">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">

                                    <li class="nav-item">
                                        <a class="nav-link arrow-none btn btn-primary" href="#" id="topnav-dashboard" role="button">
                                            <span key="t-dashboards">Dashboard</span>
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="lead?id={{subcompany_id.id}}"
                                            id="topnav-pages" role="button">
                                            <span>Category</span>
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="accounts?id={{subcompany_id.id}}"
                                            id="topnav-pages" role="button">
                                            <span>Product</span>
                                        </a>
                                        
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="customer?id={{subcompany_id.id}}"
                                            id="topnav-pages" role="button">
                                            <span>Customer</span>
                                        </a>
                                        
                                    </li>
                                    
                                    
                                   

                                </ul>
                            </div>
                        </nav>
                    </div>

                </div>

                <div class="d-flex align-items-center header-rightside-btns">
                    <div class="dropdown d-inline-block user-dropdown">
                        <button type="button" class="btn header-item btn-primary waves-effect waves-light"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="bx bx-bell"></i>

                        </button>
                        <span class="badge bg-warning">{{notification_count}}</span>
                        {% if notofication_data %}
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                               
                                <div class="row align-items-center noti-heading">
                                    <div class="col">
                                        <h5 class="m-0" key="t-notifications"> Notifications </h5>
                                    </div>
                                    {% comment %} <div class="col-auto">
                                        <a href="#!" key="t-view-all"> View All</a>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">

                                {% for product in notofication_data %}
                               
                                <a href="javascript: void(0);" class="text-reset notification-item">
                                    <div class="d-flex">
                                        {% comment %} <img src="assets/images/users/avatar-3.jpg"
                                            class="me-3 rounded-circle avatar-xs" alt="user-pic"> {% endcomment %}
                                        <div class="flex-grow-1">
                                            <h5 class="mb-1">{{product.product_name}}</h5>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1" key="t-simplified">This product contains only {{product.number}} items in stock</p>
                                                {% comment %} <p class="mb-0 small"><i class="mdi mdi-clock-outline"></i> <span
                                                        key="t-hours-ago">1 hours ago</span></p> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                               
                                {% endfor %}
                                
                            </div>
                            <div class="p-2 border-top d-grid">
                                {% comment %} <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                    <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View
                                        More..</span>
                                </a> {% endcomment %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    
                   
                    
                  
                   
                    <div class="dropdown d-inline-block user-dropdown ms-2">
                        <a class="dropdown-item text-danger" href="#" onclick="logout_fun()"><i
                            class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span
                            key="t-logout">Logout</span></a>
                            
                        </a>
                        
                    </div>

                </div>
            </div>
        </header>




        <div class="page-content">
            <div class="container-fluid px-0">
             <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-3">
                <div class="col">
                    <div class="main-data-box ">
                        <i class="bx bx-up-arrow-alt leads-count"></i>
                        <h2 class="leads-count">{{total_sum}} </h2>
                        <h4>Total Invested</h4>
                    </div>
                </div>
                <div class="col">
                    <div class="main-data-box">
                        <i class="bx bx-up-arrow-alt customer-count"></i>
                        <h2 class="customer-count">{{customer_total_amount}}</h2>
                        <h4>Total Earned </h4>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="main-data-box">
                       <i class="bx bx-up-arrow-alt role-count"></i>
                        <h2 class="role-count">{{profit_amount_total|default:0}}</h2>
                        <h4>Total Profit</h4>
                        
                    </div>
                </div>
                
             </div>
             <div class="row mt-3 gx-3">
                <div class="col-lg-6">
                    <div class="dashboard-leads">
                        <div class="top-header-div d-flex justify-content-between">
                            <h3 class="dashboard-sub-head">Product Latest</h3>
                            
                              <a href="accounts?id={{subcompany_id.id}}">
                                <h6 class="veiw-all">View All</h6>
                              </a>
                           
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" {% if not product_data %} style="visibility:hidden;" {% endif %}>
                                <thead class="b-none">
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in product_data %}
                                    {% if forloop.counter <= 6 %}
                                    <tr class="trclass{{i.id}}">
                                       
                                        <td id="product_name{{i.id}}">
                                            <a href="#">
                                                <div class="avatar-div">
                                                    {% comment %} <img src="../static/assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle"> {% endcomment %}
                                                    <span>{{i.product_name|default:''}}</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td id="category_id{{i.id}}">{{i.category_id.category_name|default:''}}</td>
                                        <td id="number{{i.id}}">{{i.number|default:''}}</td>
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical font-size-18"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item d-flex align-items-center" id="product-edit-modal-btn" data-id="{{i.id}}"><i class="bx bx-edit font-size-16 me-1"></i>Edit</a>
                                                    </li>
                                                    <li><a href="#" class="dropdown-item d-flex align-items-center" onclick="delete_product({{i.id}})"><i class="bx bx-trash font-size-16 me-1"></i>Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                   {% endfor %}
                                       
                                    
                                    
                                </tbody>
                            </table>
                            {% if not product_data %}
                            <div class="empty-bx" id="no_data_div" {% if not product_data %}style="visibility:visible;"{% endif %} >
                                <img src="{% static 'assets/images/empty-empty.gif' %}" alt="" style="width: 200px;margin-left: 212px;">
                                <p style="margin-left: 250px;">There is no data.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 sm-mt">
                    <div class="dashboard-leads">
                        <div class="top-header-div d-flex justify-content-between">
                            <h3 class="dashboard-sub-head">Customers</h3>
                            
                              <a href="customer?id={{subcompany_id.id}}">
                                <h6 class="veiw-all">View All</h6>
                              </a>
                           
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" {% if not customer_data %} style="visibility:hidden;" {% endif %}>
                                <thead class="b-none">
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for j in customer_data %}
                                    {% if forloop.counter <= 6 %}
                                    <tr>
                                       
                                        <td>
                                            <a href="#">
                                                <div class="avatar-div">
                                                    {% comment %} <img src="../static/assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle"> {% endcomment %}
                                                    <span>{{j.customer_firstname|default:''}} {{j.customer_lastname|default:''}}</span>
                                                </div>
                                            </a>
                                        </td>
                                        <td>{{j.customer_phone_no|default:''}}</td>
                                        <td>{{j.customer_email|default:''}}</td>
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle card-drop" id="view_customer_detail" data-id="{{j.id}}">
                                                    View
                                                </a>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if not customer_data %}
                            <div class="empty-bx" id="no_data_div" {% if not customer_data %}style="visibility:visible;"{% endif %} >
                                <img src="{% static 'assets/images/empty-empty.gif' %}" alt="" style="width: 200px;margin-left: 212px;">
                                <p style="margin-left: 250px;">There is no data.</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
             </div>

            </div>
         

        </div>




    </div>

    <div class="modal fade" id="log_out" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><span>Logout</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="inactive_modal_id2" >
              <h4 class="delete-hint">Are you sure you want to logged out?</h4>

            </div>
            <div class="modal-footer d-flex justify-content-center">
               <a href="logout_view"> <button type="button" class="btn btn-primary text-uppercase br-50 btn-md" id="logout-btn" >Logout</button></a>
                <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>


    <div class="modal fade" id="add-lead" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><span>Add Lead</span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="uploadArea" class="upload-area">
                                <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                                    <span class="drop-zoon__icon">
                                        <i class='bx bxs-file-image'></i>
                                    </span>
                                    <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
                                    <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                                    <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image"
                                        draggable="false">
                                    <input type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
                                </div>

                                <div id="fileDetails" class="upload-area__file-details file-details">
                                    <h3 class="file-details__title">Uploaded File</h3>

                                    <div id="uploadedFile" class="uploaded-file">
                                        <div class="uploaded-file__icon-container">
                                            <i class='bx bxs-file-blank uploaded-file__icon'></i>
                                            <span class="uploaded-file__icon-text"></span>
                                        </div>

                                        <div id="uploadedFileInfo" class="uploaded-file__info">
                                            <span class="uploaded-file__name">Proejct 1</span>
                                            <span class="uploaded-file__counter">0%</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <h6 class="selct-box-head">Lead Status</h6>
                            <div class="form-grp inputGroup">
                                <div class="select-inp">
                                    <select class="form-control">
                                        <option value="AK">None</option>
                                        <option value="HI">Unqualified</option>
                                        <option value="CA">New</option>
                                        <option value="NV">Working</option>
                                        <option value="CA">Nurturing </option>
                                        <option value="NV">Qualified</option>
                                    </select>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Name</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Title</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Email</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Phone</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Mobile</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Website</label>
                            </div>
                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Company</label>
                            </div>
                            <h6 class="selct-box-head">Rating</h6>
                            <div class="form-grp inputGroup">
                                <div class="select-inp">
                                    <select class="form-control">
                                        <option value="AK">None</option>
                                        <option value="HI">Hot</option>
                                        <option value="CA">Warm</option>
                                        <option value="CA">Cold</option>
                                    </select>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-grp">
                                <h6 class="d-flex align-items-center"><span class="lead-owner">Lead Owner : </span>
                                    <div><img src="assets/images/users/avatar-1.jpg" alt=""
                                            class="avatar-xs rounded-circle mx-2"><span>Nabeel</span></div>
                                </h6>
                            </div>


                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">No. of Employees</label>
                            </div>

                            <h6 class="selct-box-head">Industry</h6>
                            <div class="form-grp inputGroup">
                                <div class="select-inp">
                                    <select class="form-control">
                                        <option value="AK">None</option>
                                        <option value="HI">Agriculture</option>
                                        <option value="CA">Apparel</option>
                                        <option value="HI">Banking</option>
                                        <option value="CA">Chemicals</option>
                                        <option value="HI">Communications</option>
                                        <option value="CA">Constructions</option>
                                    </select>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>

                            <h6 class="selct-box-head">Lead Source</h6>
                            <div class="form-grp inputGroup">
                                <div class="select-inp">
                                    <select class="form-control">
                                        <option value="AK">None</option>
                                        <option value="HI">Advertisement</option>
                                        <option value="CA">Customer</option>
                                    </select>
                                    <i class="fas fa-chevron-down"></i>
                                </div>
                            </div>


                            <h5 class="addrss-info mt-3">Address Information</h5>
                            <div class="form-grp">
                                <textarea id="formmessage" class="form-control" rows="3"
                                    placeholder="Street"></textarea>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">No. of Employees</label>
                            </div>
                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Zip/Postel Code</label>
                            </div>
                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">State/Province</label>
                            </div>

                            <div class="inputGroup form-control">
                                <input type="text">
                                <label for="name">Country</label>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-primary text-uppercase br-50 btn-md">Save</button>
                    <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><span>Delete Product</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delete_modal_id" name="delete_modal_id">
              <h4 class="delete-hint">Are you sure you want to delete this product?</h4>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary text-uppercase br-50 btn-md" id="delete-product-btn">Delete</button>
                <button type="button" class="btn btn-light text-uppercase br-50 btn-md"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>



<div id="view-customer-div"></div>
<div id="edit-product-div"></div>
    <!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

    <script src="{% static 'assets/js/app.js' %}"></script>

    <script>
        $(function () {
            $(".ddl-select").each(function () {


                $(this).hide();
                var $select = $(this);
                var _id = $(this).attr("id");
                var wrapper = document.createElement("div");
                wrapper.setAttribute("class", "ddl ddl_" + _id);

                var input = document.createElement("h6");

                input.setAttribute("class", "ddl-input");
                input.setAttribute("id", "ddl_" + _id);
                input.innerHTML = $(this)[0].options[$(this)[0].selectedIndex].innerText

                $(this).before(wrapper);
                var $ddl = $(".ddl_" + _id);
                $ddl.append(input);
                $ddl.append("<div class='ddl-options ddl-options-" + _id + "'></div>");
                var $ddl_input = $("#ddl_" + _id);
                var $ops_list = $(".ddl-options-" + _id);
                var $ops = $(this)[0].options;
                for (var i = 0; i < $ops.length; i++) {
                    $ops_list.append(
                        "<div data-value='" +
                        $ops[i].value +
                        "'>" +
                        $ops[i].innerText +
                        "</div>"
                    );
                }

                $ddl_input.click(function () {
                    $ddl.toggleClass("active");
                });
                $ddl_input.blur(function () {
                    $ddl.removeClass("active");
                });
                $ops_list.find("div").click(function () {
                    document.getElementsByClassName("ddl-input")[0].innerHTML = $(this).text();
                    $ddl.removeClass("active");
                });
            });
        });
    </script>
    <script>
        // upload image
        const uploadArea = document.querySelector('#uploadArea')


        const dropZoon = document.querySelector('#dropZoon');
        const loadingText = document.querySelector('#loadingText');
        const fileInput = document.querySelector('#fileInput');
        const previewImage = document.querySelector('#previewImage');
        const fileDetails = document.querySelector('#fileDetails');
        const uploadedFile = document.querySelector('#uploadedFile');
        const uploadedFileInfo = document.querySelector('#uploadedFileInfo');
        const uploadedFileName = document.querySelector('.uploaded-file__name');
        const uploadedFileIconText = document.querySelector('.uploaded-file__icon-text');
        const uploadedFileCounter = document.querySelector('.uploaded-file__counter');
        const imagesTypes = [
            "jpeg",
            "png",
            "svg",
            "gif"
        ];

        dropZoon.addEventListener('dragover', function (event) {
            event.preventDefault();
            dropZoon.classList.add('drop-zoon--over');
        });

        dropZoon.addEventListener('dragleave', function (event) {
            dropZoon.classList.remove('drop-zoon--over');
        });

        dropZoon.addEventListener('drop', function (event) {
            event.preventDefault();
            dropZoon.classList.remove('drop-zoon--over');
            const file = event.dataTransfer.files[0];
            uploadFile(file);
        });

        dropZoon.addEventListener('click', function (event) {
            fileInput.click();
        });


        fileInput.addEventListener('change', function (event) {

            const file = event.target.files[0];
            uploadFile(file);
        });

        function uploadFile(file) {
            const fileReader = new FileReader();
            const fileType = file.type;
            const fileSize = file.size;

            if (fileValidate(fileType, fileSize)) {
                dropZoon.classList.add('drop-zoon--Uploaded');
                loadingText.style.display = "block";
                previewImage.style.display = 'none';
                uploadedFile.classList.remove('uploaded-file--open');
                uploadedFileInfo.classList.remove('uploaded-file__info--active');

                fileReader.addEventListener('load', function () {
                    setTimeout(function () {
                        uploadArea.classList.add('upload-area--open');
                        loadingText.style.display = "none";
                        previewImage.style.display = 'block';
                        fileDetails.classList.add('file-details--open');
                        uploadedFile.classList.add('uploaded-file--open');
                        uploadedFileInfo.classList.add('uploaded-file__info--active');
                    }, 500);

                    previewImage.setAttribute('src', fileReader.result);
                    uploadedFileName.innerHTML = file.name;

                    progressMove();
                });

                fileReader.readAsDataURL(file);
            } else {

                this;

            };
        };


        function progressMove() {
            let counter = 0;
            setTimeout(() => {
                let counterIncrease = setInterval(() => {
                    if (counter === 100) {
                        clearInterval(counterIncrease);
                    } else {
                        counter = counter + 10;
                        uploadedFileCounter.innerHTML = `${counter}%`
                    }
                }, 100);
            }, 600);
        };

        function fileValidate(fileType, fileSize) {
            let isImage = imagesTypes.filter((type) => fileType.indexOf(`image/${type}`) !== -1);
            if (isImage[0] === 'jpeg') {
                uploadedFileIconText.innerHTML = 'jpg';
            } else {
                uploadedFileIconText.innerHTML = isImage[0];
            };

            if (isImage.length !== 0) {
                if (fileSize <= 2000000) {
                    return true;
                } else {
                    return alert('Please Your File Should be 2 Megabytes or Less');
                };
            } else {
                return alert('Please make sure to upload An Image File Type');
            };
        };
    </script>
<script>
    $('.inputGroup input').on('focusin', function () {
        $(this).parent().find('label').addClass('active');
    });

    $('.inputGroup input').on('focusout', function () {
        if (!this.value) {
            $(this).parent().find('label').removeClass('active');
        }
    });

    var dateInputs = document.querySelectorAll('.inputGroup input[type="date"] , .inputGroup input[type="time"]');

    dateInputs.forEach(function (dateInput) {
        dateInput.addEventListener('input', function () {
            if (this.value) {
                this.classList.add('hasValue');
            } else {
                this.classList.remove('hasValue');
            }
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    function showError(message) {
        Swal.fire({
            icon: "error",
            title: message,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            width: "350px",
            padding: "1.5rem",
            background: "#f8f9fa",
            iconColor: "#dc3545",
            iconHtml: '<i class="fas fa-times-circle"></i>',
            customClass: {
                title: "swal-title",
                container: "swal-container",
            },
        });
    }

    function showSuccess(message) {
        Swal.fire({
            icon: "success",
            title: message,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            width: "350px",
            padding: "1.5rem",
            background: "#f8f9fa",
            iconColor: "#28a745",
            iconHtml: '<i class="fas fa-check-circle"></i>',
            customClass: {
                title: "swal-title",
                container: "swal-container",
            },
        });
    }
</script>


<script>
    function backendValidation(validationClass, create_error_dict) {
      for (var key in create_error_dict) {
        if (create_error_dict.hasOwnProperty(key)) {
          var inputName = key;
          var error_message = create_error_dict[key];
          $('.' + inputName + '1').addClass('non-valid ' + validationClass);
          $('.' + inputName).addClass('nonvalid-alert ' + validationClass);
          $('.' + inputName).html(error_message);
        }
      }
    }

  function RemoveBackendValidation(validationClass) {
    $('.' + validationClass).html('');
    $('.' + validationClass).removeClass('non-valid '+validationClass);
    $('.' + validationClass).removeClass('nonvalid-alert '+validationClass);
  }


</script>

<script>
    $(document).on('click', '#view_customer_detail', function (event) {
    var id = $(this).attr("data-id")
    $('.loader-mask').show();
    var url = "view_customer_details";
    $.ajax({
        url: url,
        data: {
            'id': id,   
        },
        success: function (data) {
            $('.loader-mask').hide();
            $("#view-customer-div").empty().append(data);
            $('#view-customer').modal('show');
        }
    });
})
</script>


<script>
    function logout_fun() {
        $('#log_out').modal('show')
    }
    
</script>


<script>
    $(document).on('click', '#product-edit-modal-btn', function (event) {
    var id = $(this).attr("data-id")
    $('.loader-mask').show();
    var url = "edit_product_modal";
    $.ajax({
        url: url,
        data: {
            'id': id,   
        },
        success: function (data) {
            $('.loader-mask').hide();
            $("#edit-product-div").empty().append(data);
            $('#edit-product').modal('show');
        }
    });
})
</script>

<script>
    $(document).on('click', '#product-edit-btn', function (e) {
       e.preventDefault();  
       $('.loader-mask').show();
       var formdata = new FormData($('#product-edit-form')[0]);   
       var id = $(this).attr("data-id")  
       $.ajax({
         type: 'POST',
         url: 'edit_product_action/'+id,
         data: formdata,
         cache: false,
         processData: false,
         contentType: false,
         headers: {
                'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()  
                },
         success: function (data) {
            RemoveBackendValidation('edit_product_validation')
            switch(data['status']) {
                case 'success':
                    $('.loader-mask').hide();
                    RemoveBackendValidation('edit_product_validation')
                    showSuccess('Updated Successfully')
                    $("#edit-product").modal('hide')
                    var product = data.after_update[0];
                        $('#product_name' + id).text(product.product_name);
                        $('#product_company_name' + id).text(product.product_company_name);
                        $('#supplier_name' + id).text(product.supplier_name);
                        $('#purchase_amount'+id).text(product.purchase_amount);
                        $('#active_status' + product.id).text(product.active_status ? 'Available' : 'Unavailable');
                        $('#number' + id).text(product.number);
                        $('#category_id' + id).text(product.category_id);
                    $("#product-edit-form")[0].reset();
                    
                    break;
                case 'error_dict':
                    $('.loader-mask').hide();
                    backendValidation("edit_product_validation", data['error_dict'])
                    break;
                case 'error':
                    $('.loader-mask').hide();
                    showError( "Something Went Wrong")
                    break;
                case 'no_update':
                    $('.loader-mask').hide();
                    showError('No update')
                    break;
                default:
                    $('.loader-mask').hide();
                    break;
          } 
        }
       });
     });
</script>

<script>
    function delete_product(val) {
       $("#delete_modal_id").val(val)
       $("#delete").modal('show')
    }
    $(document).on('click', '#delete-product-btn', function (e) {
       $('.loader-mask').show();
       id = $("#delete_modal_id").val()
    $.ajax({
            type: 'GET',
            url: 'delete_product/'+id,            
            processData: false,
            contentType: false,
            success: function (data) {
               $('.loader-mask').hide();
              $("#delete").modal('hide')  
              $(".trclass"+id).remove()                
            }
          })
  })
  </script>

 


</body>

</html>
